.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-de-fundo);
    padding: 0 10%;

    & .container_cards {
        width: 100%;
        display: flex;
        flex-flow: wrap row;
        gap: 16px;
        justify-content: center;

        & .card {
            display: flex;
            flex-direction: column;
            width: 24rem;
            background-color: white;

            & .card_body {
                display: flex;

                & img {
                    width: 100px;
                }

                & .card_section {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    & .infos {
                        display: flex;
                        gap: 8px;
                    }

                    & .status {
                        display: flex;
                    }
                }


            }
        }

    }

}