.container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);

    & .container_body {
        width: 80%;
        height: 80vh;
        display: flex;
        flex-flow: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        background-color: var(--azul-transparent);
        border: 4px solid var(--azul-interface);
        box-shadow: 0 0 15px var(--azul-interface);
        border-radius: 8px;
        padding: 16px 40px;

        & .container_header {
            font-size: 20px;
            color: var(--azul-interface);
            display: flex;
            justify-content: center;
        }


        & .container_infos {
            width: 100%;
            height: 80vh;
            display: flex;
            gap: 16px;
            overflow-y: scroll;
            background-color: var(--azul-transparent);
            border: 4px solid var(--azul-interface);
            box-shadow: 0 0 10px var(--azul-interface);
            border-radius: 8px;
            padding: 20px 20px;

            & img {
                border-radius: 4px;
            }

        }

    }

}