:root {
  --fonte-principal: "Inconsolata", monospace;
  --cor-de-fundo: #1E1E1E;
  --cor-clara: white;
  --azul-interface: #13D9C4;
  --azul-transparent: #138572ab;

}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  background: url('../../../public/imgs/rickandmorty.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--fonte-principal);
  padding: 0;
  overflow-y: unset;
}