:root {
  --fonte-principal: 'Inter';
  --cor-de-fundo: #1E1E1E;
  --cor-clara: white;

}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: var(--fonte-principal);
  padding: 0;
}