.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../../public/imgs/rickandmorty.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fonte-principal);

}